body {
  background-image: url("../img/menu-bg.png");
}

/* Menu.php */
.menu {
  padding-bottom: 100px;
}

.menu-banner {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

/* Initially hide the banner image on mobile */
.menu-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Show the banner image on desktop only */
@media (max-width: 768px) {
  /* Hide the banner image on mobile */
  .menu-banner img {
    display: none;
  }
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

.menu-button {
  text-decoration: none;
  background-color: var(--color-button);
  border-radius: 1rem;
  color: white;
  font-family: inherit;
  border: none;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: background-color 0.3s, transform 0.3s ease;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.menu-button img {
  object-fit: contain;
  transition: transform 0.3s ease;
}

.menu-button:hover {
  background-color: var(--color-button-hover);
  transform: scale(1.05);
}

.menu-button:hover img {
  transform: scale(1.1);
}

/* Responsive layout */
@media (max-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .mobile-name-navbar {
    display: block;
  }

  .top-navbar {
    display: none;
  }

  .bottom-navbar {
    display: flex;
  }

  .menu-button {
    width: 100%;
    height: auto;
  }

  .menu-banner {
    width: 100%;
    max-height: 85px;
    overflow: hidden;
  }

  .menu-banner img {
    width: 100%;
    height: auto;
    display: block;
  }
}
